.add_user{
    display: flex;
    justify-content: center;
    
}

.add_user form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.user_list{
    display: flex;
    justify-content: center;
}