{% extends 'base.html' %} {% block content %}

<div class="delete_user">
  <table class="table">
    <h1>Deletar usuários</h1>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in usuarios %}
      <tr>
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.nome }}</td>
        <td>{{ user.email }}</td>
        <td>
          <a
            class="btn btn-danger"
            href="/delete/{{ user.id }}"
            onclick="return confirm('Tem certeza que deseja excluir este usuário?');"
          >
            Deletar usuário
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
